body {
    font-family: 'Hind Siliguri', sans-serif;
    padding: 0 !important;
    margin: 0 !important;
    color: #4a2723;
}

a {
    text-decoration: none;
}

button {
    padding: 20px 30px;
    border-radius: 3px;
    background-color: #ab0118;
    border-style: none;
    color: #fcedeb;
    margin: 10px 0;
}

.container {
    margin: 0 120px;
}

.card {
    box-shadow: 3px 3px 10px #e3e3e3;
}

.hero {
    background-image: url("../img/hero-image.png");
    background-size: cover;
    height: 600px;
}

.hero-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding-top: 100px;
}

.hero-text {
    text-align: left;
    color: #4a2723;
}

.hero-text h1 {
    font-size: 50px;
    margin: 20px 0 0 0;
}

.hero-image {
    text-align: center;
}

.hero-image img {
    margin-top: 50px;
}

.grid-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.menu-icon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
}

.menu-icon img {
    width: 80px;
}

.icon-list {
    background-color: white;
    text-align: center;
    position: relative;
    bottom: 70px;
    padding: 30px 0;
}

.icon-list:hover {
    bottom: 80px;
}

.list-menu-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
    margin: 50px 0;
    text-align: center;
}

.list-menu-1 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}